<div id="main">

  <nav class ="left">  
    <div [ngStyle]="{'visibility' : view === 0 ? 'visible' : 'hidden'}">
      <button *ngFor="let floor of floors; let i = index" 
      [ngStyle]="{'background-color': operatorCurrentFloor.floorNumber === floor.floorNumber ? 'lightpink' : 'cyan'}" 
      class="floor-button" (click)="changeOperatorFloor(floor.floorNumber)">
      Floor {{ floor.floorNumber }}
      </button>
    </div>
  </nav>

  <nav class ="right">  
    <div class="elevatorFloorWrapper" style="visibility: visible;">
      <button *ngFor="let floor of floors; let i = index" 
      [ngStyle]="{'background-color': elevator.currentFloor === floor.floorNumber ? 'yellowgreen' : 'wheat'}" 
      class="floor-button">
      Floor {{ floor.floorNumber }}
      </button>
      <button [ngStyle]="{'background-color' : elevator.movement > 0 ? 'yellowgreen' : 'wheat'}">↑</button>
      <button [ngStyle]="{'background-color' : elevator.movement < 0 ? 'yellowgreen' : 'wheat'}">↓</button>
      <button [ngStyle]="{'background-color' : elevator.movement === 0 ? 'yellowgreen' : 'wheat'}">🛑</button>
      <button [ngStyle]="{'background-color' : elevator.isDoorOpen === true ? 'yellowgreen' : 'wheat'}">🚪🚪</button>
    </div>
    <div style="margin-top: 3rem;" [ngStyle]="{'display' : view === 0 ? 'block' : 'none'}">
        <button (click)="callElevator(1)" class="callButton" 
          [ngStyle]="{'background-color': (operatorCurrentFloor.isSummoned && operatorCurrentFloor.continueUp === true) ? 'yellowgreen' : 'wheat'}">↑
        </button>
        <button (click)="callElevator(-1)" class="callButton" 
        [ngStyle]="{'background-color': (operatorCurrentFloor.isSummoned && operatorCurrentFloor.continueDown === true) ? 'yellowgreen' : 'wheat'}">↓
        </button>
        <button (click)="enterElevator()" [disabled]="!(operatorCurrentFloor.floorNumber === elevator.currentFloor && elevator.isDoorOpen === true)">ENTER THE ELEVATOR</button>
    </div>
    <div style="margin-top: 3rem;" [ngStyle]="{'display' : view === 1 ? 'block' : 'none'}">
      <button (click)="callElevator(1)" class="callButton" 
        [ngStyle]="{'background-color': (operatorCurrentFloor.isSummoned && operatorCurrentFloor.continueUp === true) ? 'yellowgreen' : 'wheat'}">↑
      </button>
      <button (click)="callElevator(-1)" class="callButton" 
      [ngStyle]="{'background-color': (operatorCurrentFloor.isSummoned && operatorCurrentFloor.continueDown === true) ? 'yellowgreen' : 'wheat'}">↓
      </button>
      <button (click)="exitElevator()">EXIT THE ELEVATOR</button>
    </div>
  </nav>
</div>
